In [ ]:
df = data.dropna(subset=None)